.gallery-form {
    margin: 20px;
    display: flex;
}

#input-container {
    flex-direction: column;
    width: 250px;
}

#input-container > * {
    margin: 5px;
    text-align: center;
  }

.form-header {
    justify-self: center;
}

#image-url {
    margin: 5px;
}


